* {
  box-sizing: border-box;
}
body,
html {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #1e1e4a;
  direction: rtl;
  text-align: right;
  line-height: 1.6;
}
/* Header Styles */
.header {
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  padding: 10px auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container {
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section img.logo {
  height: 50px;
  margin-right: 25px;
}

nav.top-nav .nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
  font-weight: 500;
}

nav.top-nav .nav-links li {
  position: relative;
}

nav.top-nav .nav-links > li > a {
  text-decoration: none;
  color: #483680;
  font-size: 15px;
  padding: 8px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav.top-nav .nav-links > li > a:hover,
nav.top-nav .nav-links > li > a.active {
  color: #ff963c;
}

/* Dropdown styles */
nav.top-nav .nav-links li ul.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 38px;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 12px 0;
  width: 200px;
  box-shadow: 0 10px 30px rgb(0 13 44 / 15%);
  border-radius: 6px;
  z-index: 9999;
}

nav.top-nav .nav-links li.show > ul.dropdown {
  display: block;
}

nav.top-nav .nav-links li ul.dropdown li a {
  display: block;
  color: #483680;
  padding: 10px 30px 10px 15px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

nav.top-nav .nav-links li ul.dropdown li a:hover {
  color: #ff963c;
}

/* Social Links */
.social-links {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
}

.social-links a {
  color: #1e1e4a;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  color: #ff963c;
  transform: translateY(-2px);
}

/* Navigation Toggle Button */
.nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #483680;
  transition: color 0.3s ease;
  padding: 5px;
}

.nav-toggle:hover {
  color: #ff963c;
}

/* ========= RESPONSIVE STYLES ========= */
@media (max-width: 1200px) {
  nav.top-nav .nav-links {
    gap: 20px;
  }

  nav.top-nav .nav-links > li > a {
    font-size: 14px;
  }
}

/* When navigation wraps - Show hamburger menu */
@media (max-width: 1024px) {
  .header .container {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .logo-section {
    order: 1;
  }

  .nav-toggle {
    display: block;
    order: 3;
  }

  .social-links {
    order: 2;
  }

  nav.top-nav {
    order: 4;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  nav.top-nav.active {
    max-height: 600px;
  }

  nav.top-nav .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 0;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  nav.top-nav .nav-links > li {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }

  nav.top-nav .nav-links > li:last-child {
    border-bottom: none;
  }

  nav.top-nav .nav-links > li > a {
    display: block;
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 600;
  }

  /* Mobile dropdown styles */
  nav.top-nav .nav-links li ul.dropdown {
    position: static;
    box-shadow: none;
    width: 100%;
    background-color: #efefef;
    border-radius: 0;
    padding: 0;
    display: none;
  }

  nav.top-nav .nav-links li.show > ul.dropdown {
    display: block;
  }

  nav.top-nav .nav-links li ul.dropdown li a {
    padding: 12px 40px;
    font-size: 12px;
  }
}

/* Small tablets - Hide some social icons */
@media (max-width: 768px) {
  /* .social-links .social-icon-link:not(.translate-icon) {
    display: none;
  } */

  .social-links {
    gap: 10px;
  }

  .logo-section img.logo {
    height: 40px;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  .container {
    padding: 0.75rem;
  }

  .logo-section img.logo {
    height: 35px;
    margin-right: 10px;
  }

  .nav-toggle {
    font-size: 22px;
  }

  .social-links {
    font-size: 20px;
  }
}

/* Hero Section */
.hero {
  background-color: #5f329a;
  color: white;
  padding: 10px 80px;
  position: relative;
  overflow: hidden;
}

.hero:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 130%;
  background: rgba(255 255 255 / 0.08);
  border-radius: 50%;
  transform: translateX(-40%);
  pointer-events: none;
  z-index: 0;
}

.hero .container {
  z-index: 1;
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 12px;
  position: relative;
}

.breadcrumb {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: #cdbfed;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 45%;
}

.breadcrumb a {
  color: #cdbfed;
  text-decoration: none;
  font-weight: 550;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.breadcrumb-separator {
  color: #d0d0d0;
}

/* Hero responsive */
@media (max-width: 768px) {
  .hero {
    padding: 10px 20px;
  }

  .hero-title {
    font-size: 32px;
  }

  .breadcrumb {
    position: static;
    font-size: 14px;
  }
}

/* Main Content and Form */
.main-content {
  padding: 10px 0;
}

.form-section {
  max-width: 1200px;
  margin: 0 7%;
}

.form {
  margin: 0 auto;
}
.form-title {
  font-weight: 600;
  color: #483680;
  margin-bottom: 4rem;
  font-size: 28px;
}

label {
  font-size: 21px;
  font-weight: 500;
  color: #483680;
  gap: 5rem;
}

/*Form Groups*/
.form-group-section {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.field {
  margin: 15px 0;
  position: relative;
  border-radius: 20px;
  padding: 0;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 90%;
  display: block;
  box-shadow: 0 4px 4px rgba(101, 83, 190, 0.1),
    0 10px 20px rgba(168, 153, 230, 0.12);
  border: 1.5px solid #d9d9d9;
  background-color: transparent;
}

.field input {
  border: none;
  outline: none;
  /* font-size: 8px; */
  padding: 12px 18px;
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 20px;
}

.field label {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 15px;
  pointer-events: none;
  transition: 0.2s ease all;
  background: white;
  padding: 0 4px;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: 0;
  right: 0.8em;
  font-size: 0.75em;
  color: #5f329a;
}

.field:focus-within,
select:focus {
  border-color: #ff963c;
  box-shadow: 0 6px 20px rgba(255, 150, 60, 0.2);
}
select {
  margin-top: 3rem;
  height: 50px;
}

/* تنسيق العناصر الأخرى */
select,
.file-upload-label {
  width: 90%;
  display: block;
  padding: 12px 18px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(101, 83, 190, 0.1),
    0 10px 20px rgba(168, 153, 230, 0.12);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #2b2a50;
  font-weight: 400;
  background-color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select:hover {
  border-color: #ff963c;
  box-shadow: 0 6px 20px rgba(255, 150, 60, 0.2);
}

#cv {
  display: none;
}

.file-upload {
  position: relative;
  margin-top: 3rem;
}

.file-upload-button {
  font-size: 16px;
  font-weight: bold;
  color: #f39c12;
  background-color: transparent;
  transition: all 0.3s ease;
  position: absolute;
  left: 20px;
}

.file-upload-text {
  font-size: 15px;
  color: #a0a0a0;
}

.file-upload-label {
  position: relative;
  margin: 0;
  cursor: pointer;
}

/* Form responsive */
@media (max-width: 1024px) {
  .form-section {
    margin: 0 5%;
  }

  .form-title {
    font-size: 22px;
    margin-bottom: 2rem;
  }

  .form-group-section {
    grid-template-columns: 1fr;
  }
  select,
  .file-upload {
    margin-top: 1rem;
  }

  .form-group input[type="text"] {
    width: 90%;
  }
}

/* Submit Button */
.form-submit {
  margin-top: 30px;
}

.submit-btn,
.newsletter-btn {
  width: 170px;
  padding: 14px 0;
  background-color: #ff963c;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 20px 20px;
}

.submit-btn:hover,
.newsletter-btn:hover {
  background-color: #483680;
  transform: translateY(-2px);
}

/* ========= START FOOTER STYLES ========= */

/* Main Footer Container */
.site-footer {
  background-color: #4a2e5d;
  color: #ffffff;
  padding: 60px 80px;
}

.site-footer .container {
  margin: 0 auto;
  padding: 0 15px;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #6a4f7b;
}

.input-group {
  display: flex;
  gap: 10px;
}

.newsletter-input[type="email"],
.input-group .newsletter-input {
  width: 50%;
  display: block;
}

.newsletter-input {
  background-color: #4a2e5d;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 12px 20px;
  color: #ffffff;
  width: 280px;
  font-size: 14px;
}

.newsletter-input::placeholder {
  color: #ffffff;
}

.newsletter-btn {
  width: 100px;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin: 2rem auto;
}

.social-icon {
  background-color: #1e1e4a;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 15%);
}

.social-icons a {
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icon:hover {
  background-color: #f39237;
  transform: translateY(-3px);
}

.footer-download-btn {
  width: 280px;
  background-color: #4a2e5d;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
  border-radius: 25px;
  direction: ltr;
}

.footer-download-btn-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fa-google-play,
.fa-apple {
  font-size: 30px;
  color: #ffffff;
}

.footer-download-btn:hover {
  background: linear-gradient(110.85deg, #48277f 0%, #8c6fbc 100%);
  transform: translateY(-2px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 20px;
}

.footer-legal {
  display: flex;
  gap: 1rem;
}

/* Footer responsive */
@media (max-width: 1024px) {
  .site-footer {
    padding: 40px 20px;
  }

  .footer-top {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .top-3 {
    display: flex;
    gap: 5rem;
  }

  .footer-legal {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .top-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-download-btn {
    width: 100%;
  }
}

/* Floating Chat */
.floating-chat {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.chat-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.chat-btn:hover {
  transform: scale(1.1);
}

.email-btn {
  background-color: #483680;
}

@media (max-width: 480px) {
  .floating-chat {
    bottom: 20px;
    left: 20px;
  }

  .chat-btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}
.modal {
  display: none; /* مخفية في البداية */
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 80, 0.6);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
}

/* محتوى المربع */
.modal-content {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  color: #2b2a50;
  animation: slideUp 0.4s ease;
}

/* عنوان ونص */
.modal-content h2 {
  color: #5f329a;
  margin-bottom: 10px;
  font-size: 20px;
}

/* زر الإغلاق */
.modal-content button {
  margin-top: px;
  background-color: #5f329a;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #ff963c;
}

/* أنيميشنات */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
